<div class="portfolio">
  <div class="portfolio-content">
    <p><small>Guy makes stuff on the internet.</small></p>
    <h2>Current</h2>
    <p>
      <small><span class="touch-hidden">Hover to preview &middot; </span>Click to view in a new window</small>
    </p>
    <p>
      <a href="http://fuckingawesomestore.com" target="_blank" data-portfolio-item="portfolio-item--fa">Fucking Awesome</a>
      <a href="http://realbadman.com"          target="_blank" data-portfolio-item="portfolio-item--real-bad-man" data-color="rgba(255, 255, 0, 0.8)">Real Bad Man</a>
      <a href="http://biancachandon.com"       target="_blank" data-portfolio-item="portfolio-item--bianca">Bianca Chandon</a>
      <a href="http://callme917.com"           target="_blank" data-portfolio-item="portfolio-item--callme">Call Me 917</a>
      <a href="http://vancestudio.com"         target="_blank" data-portfolio-item="portfolio-item--vance">Vance Studio</a>
      <a href="https://scififantasy.co"        target="_blank" data-portfolio-item="portfolio-item--scifi" data-color="rgba(0, 0, 0, 0.8)" data-color-invert>Sci-Fi Fantasy</a>    
      <a href="http://outerknown.com"          target="_blank" data-portfolio-item="portfolio-item--ok" data-color="rgba(53, 67, 75, 0.7)" data-color-invert>Outerknown</a>
      <a href="http://johnnie-o.com"           target="_blank" data-portfolio-item="portfolio-item--joh" data-color="rgba(174, 30, 35, 0.8)" data-color-invert>Johnnie-O</a>
      <a href="http://blessescro.com/"         target="_blank" data-portfolio-item="portfolio-item--bless" data-color="#515050" data-color-invert>Bless E$cro`</a>
      <a href="http://jennifermeyer.com"       target="_blank" data-portfolio-item="portfolio-item--jenmeyer" data-color="#ffe1e1">Jennifer Meyer</a>
      <a href="http://shop.hvw8.com"           target="_blank" data-portfolio-item="portfolio-item--hvw8" />HVW8 Gallery</a> 
      <a href="http://rent-party.com"          target="_blank" data-portfolio-item="portfolio-item--rent-party" data-color="#ff9ad6">Rent Party</a>
      <a href="http://boysofsummervideo.com"   target="_blank" data-portfolio-item="portfolio-item--bos" data-color="rgba(254, 133, 33, 0.7)">Boys of Summer</a>
    </p>
    <br />
    <h2>Past</h2>
    <p>
      <a href="#" target="_blank" data-portfolio-item="portfolio-item--elder">The Elder Statesman</a>
      <a href="#" target="_blank" data-portfolio-item="portfolio-item--bedaga" data-color="rgba(0, 47, 55, 0.39)">Bedaga</a>
      <a href="#" target="_blank" data-portfolio-item="portfolio-item--sv" data-color="#28ace2">StreetVirus</a>
      <a href="#" target="_blank" data-portfolio-item="portfolio-item--greenstreet" data-color="rgba(14, 94, 66, 0.60)">Green Street</a>
      <a href="#" target="_blank" data-portfolio-item="portfolio-item--drnorms" data-color="rgba(7, 170, 80, 0.29)">Doctor Norms</a>
      <a href="#" target="_blank" data-portfolio-item="portfolio-item--ssg"  data-color="#c1e846">Super Market Supergroup</a>
    </p>
  </div>
  <br />
  <h2>Contact</h2>
  <p>
    email: <a href="mailto:stefbowerman@gmail.com">stefbowerman@gmail.com</a></br>
    twitter: <a href="http://twitter.com/misternaf">@misternaf</a></br>
    instagram: <a href="http://instagram.com/misternaf">@misternaf</a></br>
    tumblr: <a href="http://stefanbowerman.tumblr.com">stefanbowerman.tumblr.com</a><br />
    github: <a href="http://github.com/stefbowerman">@stefbowerman</a>
  </p>
  <br />
  <p>
    <small>
      *Code for this website is viewable on <a href="http://github.com/stefbowerman/dotcom" target="_blank">github</a>.
    </small>
  </p>
  <div class="portfolio-items">
    <!-- FA -->
    <div class="portfolio-item" id="portfolio-item--fa">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Design + Development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/fa-1.png" />
        <img data-src="/images/portfolio/fa-2.png" />
        <img data-src="/images/portfolio/fa-3.png" />
        <img data-src="/images/portfolio/fa-4.png" />
      </div>
    </div>
    <!-- Real Bad Man -->
    <div class="portfolio-item" id="portfolio-item--real-bad-man">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Design + Development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/rbm-1.png" />
        <img data-src="/images/portfolio/rbm-2.png" />
        <img data-src="/images/portfolio/rbm-3.png" />
        <img data-src="/images/portfolio/rbm-4.png" />
      </div>
    </div>      
    <!-- BC -->
    <div class="portfolio-item" id="portfolio-item--bianca">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Development + Operations</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/bc-1.jpg" />
        <img data-src="/images/portfolio/bc-2.jpg" />
        <img data-src="/images/portfolio/bc-3.jpg" />
        <img data-src="/images/portfolio/bc-4.jpg" />
      </div>
    </div>
    <!-- 917 -->
    <div class="portfolio-item" id="portfolio-item--callme">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Development + Operations</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/callme-1.jpg" />
        <img data-src="/images/portfolio/callme-2.jpg" />
        <img data-src="/images/portfolio/callme-3.jpg" />
      </div>
    </div>
    <!-- Vance -->
    <div class="portfolio-item" id="portfolio-item--vance">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/vance-1.jpg" />
        <img data-src="/images/portfolio/vance-2.jpg" />
        <img data-src="/images/portfolio/vance-3.jpg" />
      </div>
    </div>
    <!-- Outerknown -->
    <div class="portfolio-item" id="portfolio-item--ok">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/ok-1.jpg" />
        <img data-src="/images/portfolio/ok-2.jpg" />
        <img data-src="/images/portfolio/ok-3.jpg" />
        <img data-src="/images/portfolio/ok-4.jpg" />
        <img data-src="/images/portfolio/ok-5.jpg" />
      </div>
    </div>
    <!-- Johnnie-O -->
    <div class="portfolio-item" id="portfolio-item--joh">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/joh-1.jpg" />
        <img data-src="/images/portfolio/joh-2.jpg" />
        <img data-src="/images/portfolio/joh-3.jpg" />
        <img data-src="/images/portfolio/joh-4.jpg" />
      </div>
    </div>
    <!-- Sci-Fi Fantasy -->
    <div class="portfolio-item" id="portfolio-item--scifi">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Design + Development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/scifi-1.jpg" />
        <img data-src="/images/portfolio/scifi-2.jpg" />
        <img data-src="/images/portfolio/scifi-3.jpg" />
      </div>
    </div>
    <!-- Bless -->
    <div class="portfolio-item" id="portfolio-item--bless">
      <div class="portfolio-image__description">
        <p>Static</p>
        <p>Design + Development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/bless-1.jpg" />
        <img data-src="/images/portfolio/bless-2.jpg" />
        <img data-src="/images/portfolio/bless-3.jpg" />
      </div>
    </div>  
    <!-- Jen Meyer -->
    <div class="portfolio-item" id="portfolio-item--jenmeyer">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/jen-1.jpg" />
        <img data-src="/images/portfolio/jen-2.jpg" />
        <img data-src="/images/portfolio/jen-3.jpg" />
        <img data-src="/images/portfolio/jen-4.jpg" />
      </div>
    </div>
    <!-- Elderstatesman -->
    <div class="portfolio-item" id="portfolio-item--elder">
      <div class="portfolio-image__description">
        <p>Magento + AWS</p>
        <p>Design + development + operations</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/elder-1.jpg" />
        <img data-src="/images/portfolio/elder-2.jpg" />
        <img data-src="/images/portfolio/elder-3.jpg" />
        <img data-src="/images/portfolio/_DSC1864.jpg" />
      </div>
    </div>
    <!-- Bedaga -->
    <div class="portfolio-item" id="portfolio-item--bedaga">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/bedaga-1.jpg" />
        <img data-src="/images/portfolio/bedaga-2.jpg" />
        <img data-src="/images/portfolio/bedaga-3.jpg" />
        <img data-src="/images/portfolio/bedaga-4.jpg" />
      </div>
    </div>
    <!-- Sleep Club -->
    <div class="portfolio-item" id="portfolio-item--sleep">
      <div class="portfolio-image__description">
        <p>Static + Shopify Buy SDK</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/sleep-1.jpg" />
        <img data-src="/images/portfolio/sleep-2.jpg" />
        <img data-src="/images/portfolio/sleep-3.jpg" />
      </div>
    </div>
    <!-- Sleep Club -->
    <div class="portfolio-item" id="portfolio-item--hvw8">
      <div class="portfolio-image__description">
        <p>Shopify + Wordpress</p>
        <p>Development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/hvw8-1.jpg" />
        <img data-src="/images/portfolio/hvw8-2.jpg" />
        <img data-src="/images/portfolio/hvw8-3.jpg" />
        <img data-src="/images/portfolio/hvw8-4.jpg" />
      </div>
    </div>
    <!-- Rent Party -->
    <div class="portfolio-item" id="portfolio-item--rent-party">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/rentparty-1.jpg" />
        <img data-src="/images/portfolio/rentparty-2.jpg" />
        <img data-src="/images/portfolio/rentparty-3.jpg" />
      </div>
    </div>
    <!-- BOS -->
    <div class="portfolio-item" id="portfolio-item--bos">
      <div class="portfolio-image__description">
        <p>Shopify</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/bos-1.jpg" />
        <img data-src="/images/portfolio/bos-2.jpg" />
        <img data-src="/images/portfolio/bos-3.jpg" />
      </div>
    </div>
    <!-- SV -->
    <div class="portfolio-item" id="portfolio-item--sv">
      <div class="portfolio-image__description">
        <p>Static</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/sv-1.jpg" />
        <img data-src="/images/portfolio/sv-2.jpg" />
        <img data-src="/images/portfolio/sv-3.jpg" />
      </div>
    </div>
    <!-- Green Street -->
    <div class="portfolio-item" id="portfolio-item--greenstreet">
      <div class="portfolio-image__description">
        <p>Static</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/greenst-1.jpg" />
        <img data-src="/images/portfolio/greenst-2.jpg" />
        <img data-src="/images/portfolio/greenst-3.jpg" />
        <img data-src="/images/portfolio/greenst-4.jpg" />
        <img data-src="/images/portfolio/greenst-5.jpg" />
      </div>
    </div>
    <!-- Dr. Norms -->
    <div class="portfolio-item" id="portfolio-item--drnorms">
      <div class="portfolio-image__description">
        <p>Wordpress</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/drnorms-1.jpg" />
        <img data-src="/images/portfolio/drnorms-2.jpg" />
        <img data-src="/images/portfolio/drnorms-3.jpg" />
        <img data-src="/images/portfolio/drnorms-4.jpg" />
      </div>
    </div>
    <!-- SSG -->
    <div class="portfolio-item" id="portfolio-item--ssg">
      <div class="portfolio-image__description">
        <p>Wordpress</p>
        <p>Design + development</p>
      </div>
      <div class="portfolio-item__slideshow">
        <img src="/images/portfolio/ssg-1.jpg" />
        <img data-src="/images/portfolio/ssg-2.jpg" />
        <img data-src="/images/portfolio/ssg-3.jpg" />
      </div>
    </div>
  </div>
</div>