.crop-mark {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $c-text;
  position: fixed;
  z-index: $zindex-footer;
  display: none;
  @media (min-width: $screen-md){
    display: block;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 18px;
    width: 1px;
    background-color: $c-text;
    left: 50%;
    top: 50%
  }
  &:before {
    transform: translate(-50%, -50%);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  &.bl {
    bottom: 25px;
    left: 25px;
  }
  &.br {
    bottom: 25px;
    right: 25px;
  }
}

.cmyk {
  position: fixed;
  z-index: $zindex-footer;
  display: none;
  @media (min-width: $screen-md){
    display: block;
  }
  bottom: 50px;
  left: 29px;
  height: 48px;
  width: 2px;
  background: linear-gradient(to bottom, $cmyk-gradient);
}

.follow {
  padding: 30px;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;

  @media (min-width: $screen-md){
    display: block;
    position: fixed;
    z-index: $zindex-footer;
    bottom: 49px;
    left: 49px;
    max-width: 200px;
    margin: 0;
    padding: 0;
    text-align: left;
    transform: rotateZ(-90deg) translateY(100%);
    transform-origin: left bottom;
  }
  li {
    display: inline-block;
    &:hover {
      
    }
    a {
      color: $c-text;
      border-bottom: none;

      &:after {
        display: none;
      }
    }
  }
}

.gif {
  display: none;
  position: fixed;
  top: 25px;
  left: 25px;
  height: 80px;
  width: 80px * 16/9;
  background: {
    position: center;
    size: cover;
  }

  opacity: 0;
  transition: opacity 1500ms ease-in;

  &.is-loaded {
    opacity: 1;
  }

  @media (min-width: $screen-lg){
    display: block;
    position: fixed;
  }

}