.site-wrapper {
  overflow-x: hidden;
  position: relative;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 60px 30px 100px;

  @media (min-width: $screen-sm) {
    width: 80%;
    margin: 0 auto;
  }

  @media (min-width: $screen-md) {
    max-width: 750px;
    padding-top: 60px + 56px;
    // margin-top: 56px;
    margin-left: auto;
    margin-right: 5%;
  }

  @media (min-width: $screen-lg) {
    margin-right: 17%;
  }
}

.site-shield,
.site-shield__color {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.site-shield {
  background-color: #fff;
  z-index: $zindex-shield;
  pointer-events: none;
  opacity: 0;
  // transition: opacity $timing-duration-shield-out ease-out;
  transition: opacity 0.9s ease-out;

  &.is-open {
    opacity: 0.9;
    transition: opacity .7s cubic-bezier(0.44, 0.21, 0.55, 0.9);
    // transition: opacity $timing-duration-shield-in ease-in;
  }
}

.site-shield__color {
  background-color: transparent;
  transition: background-color 1.1s cubic-bezier(0.47, 0.48, 0.38, 0.85);

  // .is-open & {
  //   transition-duration: $timing-duration-shield-color;
  // }
}
